# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties

# IDEs
.idea/
*.iml
*.ipr
*.iws
.vscode/

# Logs
*.log

# OS
.DS_Store

# Env
*.env

# Secrets
src/main/resources/application.properties
src/main/resources/application.properties
